
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background: url('images/bgimg.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    margin-right: 3rem;
    align-items: center;
}

.logo-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 3; /* Higher z-index to keep the logo above the form and background */
}

.logo-container img {
    width: 100px;
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3); 
    z-index: 1; 
}

.auth-container {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    max-width: 350px;
    width: 100%;
    z-index: 2;
    position: relative;
    margin-right: 3rem;
    background-color: #D9D9D954;
}


.auth-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
    color: #333;
}


.auth-container input, .auth-container select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    appearance: none;
    background-color: white;
}


.auth-container button {
    width: 48%;
    padding: 12px;
    margin: 10px 1%;
    border: none;
    background-color: #ffc107;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}


.auth-container button:hover {
    background-color: #ff9800;
}


.auth-container .button-group {
    display: flex;
    justify-content: space-between;
}


.auth-container .login-link {
    text-align: center;
    margin-top: 10px;
    font-size: 17px;
}

.auth-container .login-link a {
    color: #007bff;
    text-decoration: none;
}


.auth-container .login-link a:hover {
    text-decoration: underline;
}

form{
    margin: 0;
    padding: 0;
}
form label{
    font-weight: bold;
    color: rgb(39, 38, 38);
    font-size: 19px;
}

@media (max-width: 600px) {
    .auth-container {
        padding: 20px;
        max-width: 90%;
    }
} 



