* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    background-image: url('images/bgimg_frame28.jpg'); 
    background-size: cover;
    background-position: center;
}

.logo-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 3; 
}

.logo-container img {
    width: 100px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}


.community-section {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.community-card, .donation-card {
    background-color: #ffffff;
    border-radius: 10px; 
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 550px;
    height: 300px;
} 
 .donation-card{
    width: 380px;
    position: relative;
    left: 20%;
    
}

.row1{
    display: flex;
    flex-direction: row;
    gap: 55px;
}
.row2{
    display: flex;
    flex-direction: row;
}
.main{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.community-card h2 {
    margin-bottom: 10px;
    font-size: 18px;
}

.community-content {
    background-color: rgba(0, 0, 0, 0.05);
    height: 220px;
    border-radius: 8px;
}

.donation-card p {
    margin-bottom: 10px;
    font-size: 16px;
    width: 300px;
}

.donate-btn, .share-btn {
    background-color: #FFD700;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    width: 100%;
}

.donate-btn:hover, .share-btn:hover {
    background-color: #e3b203;
}

.donation-card a {
    color: #007BFF;
    text-decoration: none;
    font-size: 14px;
}

/* .donation-card a:hover {
    text-decoration: underline;
} */

.arrow-icon {
    position: absolute;
    top: 95%;
    left: 30px;
    transform: translateY(-50%);
    cursor: pointer;
}

.arrow-icon img {
    width: 30px; 
}



@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr; 
        padding-top: 20px;
    }

    .community-section {
        margin-top: -30px;
        flex-direction: column; 
        gap: 20px;
    }

    .community-card, .donation-card {
        width: 95%; 
        height: auto; 
    }

    .donation-card{
        left: 0px;
    }

    .arrow-icon {
        left: 5px;
    }

    .row1, .row2 {
        flex-direction: column;
        gap: 20px;
    }

    .donate-btn, .share-btn {
        padding: 12px 0; 
    }
}


/* logo and arrow icon adjustments */
@media (max-width: 768px) {
    .logo-container {
        position: static; 
        margin-bottom: 10px; 
    }

    .logo-container img {
        width: 80px; 
    }

    .container {
        padding-top: 20px; 
    }

    .arrow-icon {
        position: fixed;
        bottom: 10px; 
        left: 10px;
    }

    .row1, .row2 {
        flex-direction: column; 
        gap: 20px;
    }
}









